
<div class="flex flex-col gap-3">
  <h2 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-7xl text-green-200 w-full  font-bold py-12">Адреса военкоматов.</h2>
  <p><h1 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-4xl text-green-100 w-full  font-bold py-12">Адреса военкоматов города Москва</h1>
  <ul class="text-gray-300">
      <p><h1 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-4xl text-green-400 w-full  font-bold py-12">Центральный административный округ</h1>
      <li><table>
          <colgroup>
            <col span="2" style="background:#152926a3">
            <col style="background-color:#152926a3">
          </colgroup>
          <tr>
            <th>Военный комиссариат</th>
            <th>Адрес</th>
            <th>Телефон дежурного</th>
          </tr>
          <tr>
            <td>Военный комиссариат
              (объединенный) Замоскворецкого района ЦАО г. Москвы
              Районы: Замоскворечье, Хамовники, Якиманка</td>
            <td>119034 г. Москва
              ул. Хилков пер., д. 2, стр. 2А</td>
            <td>(495) 695-11-89</td>
          </tr>
          <tr>
            <td>Военный комиссариат
              (объединенный) Красносельского района ЦАО г. Москвы
              Районы: Басманный, Красносельский, Таганский</td>
            <td>107045 г. Москва
              Даев пер. д. 13</td>
            <td>(495) 608-64-45</td>
          </tr>
          <tr>
              <td>Военный комиссариат (объединенный) Тверского района ЦАО г. Москвы
              Районы: Арбат, Мещанский, Пресненский, ТверскойВоенный комиссариат
                (объединенный) Замоскворецкого района ЦАО г. Москвы
                Районы: Замоскворечье, Хамовники, Якиманка</td>
              <td>123100 г. Москва
                  ул. Мантулинская,
                  д. 24</td>
              <td>(499) 256-00-43</td>
            </tr>
        </table>
          
          </li>
      <p><h1 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-4xl text-green-400 w-full  font-bold py-12">Северный административный округ</h1>
      <li><table>
          <colgroup>
            <col span="2" style="background:#152926a3">
            <col style="background-color:#152926a3">
          </colgroup>
          <tr>
            <th>Военный комиссариат</th>
            <th>Адрес</th>
            <th>Телефон дежурного</th>
          </tr>
          <tr>
            <td>Военный комиссариат
              (объединенный) Головинского района САО г. Москвы
              Районы: Головинский, Ховрино, Левобережный, Сокол, Войковский, Молжаниновский</td>
            <td>125057 г. Москва
              ул. Алабяна, д. 5</td>
            <td>(499) 198-93-39</td>
          </tr>
          <tr>
            <td>Военный комиссариат
              (объединенный) Коптевского района САО г. Москвы
              Районы: Дегунино Западное, Коптево</td>
            <td>125183 г. Москва
              ул. Лихоборские Бугры, д. 9, корп.3</td>
            <td>(499) 155-10-27</td>
          </tr>
          <tr>
              <td>Военный комиссариат
                (объединенный) Савёловского района САО г. Москвы
                Районы: Аэропорт, Беговой, Савёловский, Хорошевский</td>
              <td>125047 г. Москва
                ул. Бутырский вал,
                д. 7</td>
              <td>(499) 251-80-64</td>
            </tr>
            <tr>
              <td>Военный комиссариат (объединенный) Тимирязевского района САО г. Москвы
                Районы: Бескудниково, Дегунино Восточное, Тимирязевский, Дмитровский</td>
              <td>127238 г. Москва
                Дмитровское ш., д. 54, корп.1</td>
              <td>(499) 488-78-83
                </td>
            </tr>
        </table></li>
      <p><p><h1 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-4xl text-green-400 w-full  font-bold py-12">Северо-Восточный административный округ</h1>
      <li><table>
          <colgroup>
            <col span="2" style="background:#152926a3">
            <col style="background-color:#152926a3">
          </colgroup>
          <tr>
            <th>Военный комиссариат</th>
            <th>Адрес</th>
            <th>Телефон дежурного</th>
          </tr>
          <tr>
            <td>Военный комиссариат (объединенный) Бабушкинского района СВАО г. Москвы
              Районы: Бабушкинский, Лосиноостровский, Южное и Северное Медведково, Ярославский</td>
            <td>127238 г. Москва
              Дмитровское ш., д. 54, корп.1</td>
            <td>(495) 471-13-22</td>
          </tr>
          <tr>
            <td>Военный комиссариат (объединенный) Бутырского района СВАО г. Москвы
              Районы: Алтуфьево, Бибирево, Лианозово, Отрадное, Северный</td>
            <td>127254 г. Москва
              ул. Гончарова, д. 8/13</td>
            <td>(495) 618-11-21</td>
          </tr>
          <tr>
              <td>Военный комиссариат (объединенный) Останкинского района СВАО г. Москвы
                Районы: Алексеевский, Бутырский, Марфино, Марьина Роща, Останкинский, Ростокино, Свиблово</td>
              <td>107045 г. Москва
                Печатников переулок, д.18, стр.1</td>
              <td>(495) 628-64-82</td>
            </tr>
        </table></li>
        <p><p><h1 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-4xl text-green-400 w-full  font-bold py-12">Северо-Западный административный округ</h1>
      <li><table>
          <colgroup>
            <col span="2" style="background:#152926a3">
            <col style="background-color:#152926a3">
          </colgroup>
          <tr>
            <th>Военный комиссариат</th>
            <th>Адрес</th>
            <th>Телефон дежурного</th>
          </tr>
          <tr>
            <td>Военный комиссариат (объединенный) Митинского района СЗАО г. Москвы
              Районы: Куркино, Митино</td>
            <td>125310 г. Москва
              Пятницкое шоссе, д.6, корпус 4</td>
            <td>(495) 794-25-80<br><br>
              (495) 751-38-00</td>
          </tr>
          <tr>
            <td>Военный комиссариат (объединенный) Хорошевского района СЗАО г. Москвы
              Районы: Строгино, Хорошево-Мневники, Щукино/td>
            <td>123103 г. Москва
              ул. Таманская, д.10, стр.1</td>
            <td>(499) 199-18-47</td>
          </tr>
          <tr>
              <td>Военный комиссариат (объединенный) Тушинского района СЗАО г. Москвы
                Районы: Покровское-Стрешнево, Северное Тушино, Южное Тушино</td>
              <td>123182 г. Москва
                ул. Пехотная, д.3, стр.2</td>
              <td>(499) 194-36-01</td>
            </tr>
        </table></li>
        <p><p><h1 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-4xl text-green-400 w-full  font-bold py-12">Южный административный округ</h1>
      <li><table>
          <colgroup>
            <col span="2" style="background:#152926a3">
            <col style="background-color:#152926a3">
          </colgroup>
          <tr>
            <th>Военный комиссариат</th>
            <th>Адрес</th>
            <th>Телефон дежурного</th>
          </tr>
          <tr>
            <td>Военный комиссариат (объединенный) Даниловского района ЮАО г. Москвы
              Районы: Братеево, Даниловский, Донской, Нагатинский Затон, Нагатино-Садовники, Москворечье-Сабурово</td>
            <td>115280 г. Москва
              ул. Пересветов переулок,
              д. 5</td>
            <td>(495) 675-74-85</td>
          </tr>
          <tr>
            <td>Военный комиссариат (объединенный) Царицынского района ЮАО г. Москвы
              Районы: Бирюлево Восточное, Зябликово, Орехово-Борисово Северное, Орехово-Борисово Южное, Царицыно</td>
            <td>115201 г. Москва
              Старокаширское ш.,
              д. 2, кор.3</td>
            <td>(499) 613-97-51</td>
          </tr>
          <tr>
              <td>Военный комиссариат (объединенный) Чертановского района ЮАО г. Москвы
                Районы: Бирюлево Западное, Нагорный, Чертаново Северное, Чертаново Центральное, Чертаново Южное</td>
              <td>117556 г. Москва
                Варшавское ш., д. 83</td>
              <td>(499) 613-15-33</td>
            </tr>
        </table></li>
      <p><p><p><h1 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-4xl text-green-400 w-full  font-bold py-12">Юго-Восточный административный округ</h1>
      <li><table>
          <colgroup>
            <col span="2" style="background:#152926a3">
            <col style="background-color:#152926a3">
          </colgroup>
          <tr>
            <th>Военный комиссариат</th>
            <th>Адрес</th>
            <th>Телефон дежурного</th>
          </tr>
          <tr>
            <td>Военный комиссариат (объединенный) Кузьминского района ЮВАО г. Москвы
              Районы: Выхино- Жулебино, Кузьминки, Некрасовка, Рязанский</td>
            <td>109377 г. Москва
              ул. Зеленодольская,
              д. 6</td>
            <td>(495) 371-91-91</td>
          </tr>
          <tr>
            <td>Военный комиссариат (объединенный) Лефортовского района ЮВАО г. Москвы
              Районы: Лефортово, Нижегородский, Южнопортовый, Текстильщики</td>
            <td>109518 г. Москва
              ул. Саратовская, д. 21, стр.1</td>
            <td>(499)177-54-10</td>
          </tr>
          <tr>
              <td>Военный комиссариат (объединенный) Люблинского района ЮВАО г. Москвы
                Районы: Капотня, Люблино, Марьино, Марьинский Парк, Печатники</td>
              <td>109451 г. Москва
                ул. Братиславская, д.14</td>
              <td>(495) 345-59-55 </td>
            </tr>
        </table></li>
        <p><p><h1 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-4xl text-green-400 w-full  font-bold py-12">Юго-Западный административный округ</h1>
      <li><table>
          <colgroup>
            <col span="2" style="background:#152926a3">
            <col style="background-color:#152926a3">
          </colgroup>
          <tr>
            <th>Военный комиссариат</th>
            <th>Адрес</th>
            <th>Телефон дежурного</th>
          </tr>
          <tr>
            <td>Военный комиссариат
              (объединенный) Замоскворецкого района ЦАО г. Москвы
              Районы: Замоскворечье, Хамовники, Якиманка</td>
            <td>119034 г. Москва
              ул. Хилков пер., д. 2, стр. 2А</td>
            <td>(495) 695-11-89</td>
          </tr>
          <tr>
            <td>Военный комиссариат
              (объединенный) Красносельского района ЦАО г. Москвы
              Районы: Басманный, Красносельский, Таганский</td>
            <td>107045 г. Москва
              Даев пер. д. 13</td>
            <td>(495) 608-64-45</td>
          </tr>
          <tr>
              <td>Военный комиссариат (объединенный) Тверского района ЦАО г. Москвы
              Районы: Арбат, Мещанский, Пресненский, ТверскойВоенный комиссариат
                (объединенный) Замоскворецкого района ЦАО г. Москвы
                Районы: Замоскворечье, Хамовники, Якиманка</td>
              <td>123100 г. Москва
                  ул. Мантулинская,
                  д. 24</td>
              <td>(499) 256-00-43</td>
            </tr>
        </table></li>
        <p><p><h1 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-4xl text-green-400 w-full  font-bold py-12">Восточный административный округ</h1>
        <li><table>
            <colgroup>
              <col span="2" style="background:#152926a3">
              <col style="background-color:#152926a3">
            </colgroup>
            <tr>
              <th>Военный комиссариат</th>
              <th>Адрес</th>
              <th>Телефон дежурного</th>
            </tr>
            <tr>
              <td>Военный комиссариат (объединенный) Измайловского района ВАО г. Москвы
                Районы: поселок Восточный, Ивановское, Измайлово, Измайлово Восточное, Измайлово Северное, Соколиная гора</td>
              <td>105043 г. Москва
                ул. 5-я Парковая,
                д. 30А</td>
              <td>(499) 165-30-00</td>
            </tr>
            <tr>
              <td>Военный комиссариат (объединенный) Перовского района ВАО г. Москвы
                Районы: Вешняки, Косино-Ухтомская, Новогиреево, Новокосино, Перово</td>
              <td>111141 г. Москва
                ул. Сергея Лазо, д.1</td>
              <td>(495) 306-46-09</td>
            </tr>
            <tr>
                <td>Военный комиссариат (объединенный) Преображенского района ВАО г. Москвы
                  Районы: Богородское, Гольяново, Метрогородок, Преображенское, Сокольники</td>
                <td>107076 г. Москва
                  ул. Колодезный переулок, д. 14</td>
                <td>(499) 268-36-70</td>
              </tr>
          </table></li>
          <p><p><h1 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-4xl text-green-400 w-full  font-bold py-12">Западный административный округ</h1>
          <li><table>
              <colgroup>
                <col span="2" style="background:#152926a3">
                <col style="background-color:#152926a3">
              </colgroup>
              <tr>
                <th>Военный комиссариат</th>
                <th>Адрес</th>
                <th>Телефон дежурного</th>
              </tr>
              <tr>
                <td>Военный комиссариат (объединенный) Кунцевского района ЗАО г. Москвы
                  Районы: Кунцево, Можайский, Филевский Парк, Фили-Давыдково, Крылатское</td>
                  <td>121351 г. Москва
                    ул. Партизанская, д. 19</td>
                <td>(495) 417-30-35</td>
              </tr>
              <tr>
                <td>Военный комиссариат (объединенный) Раменского района ЗАО г. Москвы
                  Районы: Дорогомиловский, Очаково-Матвеевское, Проспект Вернадского, Раменки, Тропарево-Никулино</td>
                <td>119607 г. Москва
                  ул. Лобачевского,
                  д. 98, кор.2</td>
                <td>(495) 931-46-27</td>
              </tr>
              <tr>
                  <td>Военный комиссариат (объединенный) Солнцевского района ЗАО г. Москвы
                    Районы: Внуково, Новопеределкино, Солнцево</td>
                  <td>119620 г. Москва
                    ул. Солнцевский просп., д. 3</td>
                  <td>(495) 435-52-84</td>
                </tr>
            </table></li>
            <p><p><h1 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-4xl text-green-400 w-full  font-bold py-12">Зеленоградский административный округ</h1>
      <li><table>
          <colgroup>
            <col span="2" style="background:#152926a3">
            <col style="background-color:#152926a3">
          </colgroup>
          <tr>
            <th>Военный комиссариат</th>
            <th>Адрес</th>
            <th>Телефон дежурного</th>
          </tr>
          <tr>
            <td>
              Военный комиссариат (объединенный) по Зеленоградскому АО г. Москвы
              Районы: г. Зеленоград</td>
            <td>124460 г. Зеленоград,
              ул. Панфиловский проспект, д.16</td>
            <td>(499)735-26-12</td>
          </tr>
          
        </table></li>
        <p><h1 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-4xl text-green-400 w-full  font-bold py-12">Троицкий и Новомосковский административный округ</h1>
      <li><table>
          <colgroup>
            <col span="2" style="background:#152926a3">
            <col style="background-color:#152926a3">
          </colgroup>
          <tr>
            <th>Военный комиссариат</th>
            <th>Адрес</th>
            <th>Телефон дежурного</th>
          </tr>
          <tr>
              <td>
                Военный комиссариат (объединенный) по Новомосковскому и Троицкому административным округам г. Москвы
                Районы: Новая Москва</td>
              <td>117624 г. Москва,
                ул. Изюмская, д.38</td>
              <td>(495)716-09-63</td>
            </tr>
        </table></li>
  </ul>
</div>