<div class="flex flex-col gap-3">
    <h2 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-7xl text-green-200 w-full  font-bold py-12">Адреса военкоматов.</h2>
    <p class="text-gray-200">
        Адреса военкоматов города Москва.
    </p>
    <ul class="text-gray-300">
        <p>Центральный административный округ</p>
        <li><table>
            <colgroup>
              <col span="2" style="background:rgb(255, 255, 255)">
              <col style="background-color:rgb(255, 255, 255)">
            </colgroup>
            <tr>
              <th>Военный комиссариат</th>
              <th>Адрес</th>
              <th>Телефон дежурного</th>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Замоскворецкого района ЦАО г. Москвы
                Районы: Замоскворечье, Хамовники, Якиманка</td>
              <td>119034 г. Москва
                ул. Хилков пер., д. 2, стр. 2А</td>
              <td>(495) 695-11-89</td>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Красносельского района ЦАО г. Москвы
                Районы: Басманный, Красносельский, Таганский</td>
              <td>107045 г. Москва
                Даев пер. д. 13</td>
              <td>(495) 608-64-45</td>
            </tr>
            <tr>
                <td>Военный комиссариат (объединенный) Тверского района ЦАО г. Москвы
                Районы: Арбат, Мещанский, Пресненский, ТверскойВоенный комиссариат
                  (объединенный) Замоскворецкого района ЦАО г. Москвы
                  Районы: Замоскворечье, Хамовники, Якиманка</td>
                <td>123100 г. Москва
                    ул. Мантулинская,
                    д. 24</td>
                <td>(499) 256-00-43</td>
              </tr>
          </table>
            
            </li>
        <p>Северный административный округ</p>
        <li><table>
            <colgroup>
              <col span="2" style="background:rgb(255, 255, 255)">
              <col style="background-color:rgb(255, 255, 255)">
            </colgroup>
            <tr>
              <th>Военный комиссариат</th>
              <th>Адрес</th>
              <th>Телефон дежурного</th>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Замоскворецкого района ЦАО г. Москвы
                Районы: Замоскворечье, Хамовники, Якиманка</td>
              <td>119034 г. Москва
                ул. Хилков пер., д. 2, стр. 2А</td>
              <td>(495) 695-11-89</td>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Красносельского района ЦАО г. Москвы
                Районы: Басманный, Красносельский, Таганский</td>
              <td>107045 г. Москва
                Даев пер. д. 13</td>
              <td>(495) 608-64-45</td>
            </tr>
            <tr>
                <td>Военный комиссариат (объединенный) Тверского района ЦАО г. Москвы
                Районы: Арбат, Мещанский, Пресненский, ТверскойВоенный комиссариат
                  (объединенный) Замоскворецкого района ЦАО г. Москвы
                  Районы: Замоскворечье, Хамовники, Якиманка</td>
                <td>123100 г. Москва
                    ул. Мантулинская,
                    д. 24</td>
                <td>(499) 256-00-43</td>
              </tr>
          </table></li>
        <p>Северо-Восточный административный округ</p>
        <li><table>
            <colgroup>
              <col span="2" style="background:rgb(255, 255, 255)">
              <col style="background-color:rgb(255, 255, 255)">
            </colgroup>
            <tr>
              <th>Военный комиссариат</th>
              <th>Адрес</th>
              <th>Телефон дежурного</th>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Замоскворецкого района ЦАО г. Москвы
                Районы: Замоскворечье, Хамовники, Якиманка</td>
              <td>119034 г. Москва
                ул. Хилков пер., д. 2, стр. 2А</td>
              <td>(495) 695-11-89</td>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Красносельского района ЦАО г. Москвы
                Районы: Басманный, Красносельский, Таганский</td>
              <td>107045 г. Москва
                Даев пер. д. 13</td>
              <td>(495) 608-64-45</td>
            </tr>
            <tr>
                <td>Военный комиссариат (объединенный) Тверского района ЦАО г. Москвы
                Районы: Арбат, Мещанский, Пресненский, ТверскойВоенный комиссариат
                  (объединенный) Замоскворецкого района ЦАО г. Москвы
                  Районы: Замоскворечье, Хамовники, Якиманка</td>
                <td>123100 г. Москва
                    ул. Мантулинская,
                    д. 24</td>
                <td>(499) 256-00-43</td>
              </tr>
          </table></li>
        <p>Северо-Западный административный округ</p>
        <li><table>
            <colgroup>
              <col span="2" style="background:rgb(255, 255, 255)">
              <col style="background-color:rgb(255, 255, 255)">
            </colgroup>
            <tr>
              <th>Военный комиссариат</th>
              <th>Адрес</th>
              <th>Телефон дежурного</th>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Замоскворецкого района ЦАО г. Москвы
                Районы: Замоскворечье, Хамовники, Якиманка</td>
              <td>119034 г. Москва
                ул. Хилков пер., д. 2, стр. 2А</td>
              <td>(495) 695-11-89</td>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Красносельского района ЦАО г. Москвы
                Районы: Басманный, Красносельский, Таганский</td>
              <td>107045 г. Москва
                Даев пер. д. 13</td>
              <td>(495) 608-64-45</td>
            </tr>
            <tr>
                <td>Военный комиссариат (объединенный) Тверского района ЦАО г. Москвы
                Районы: Арбат, Мещанский, Пресненский, ТверскойВоенный комиссариат
                  (объединенный) Замоскворецкого района ЦАО г. Москвы
                  Районы: Замоскворечье, Хамовники, Якиманка</td>
                <td>123100 г. Москва
                    ул. Мантулинская,
                    д. 24</td>
                <td>(499) 256-00-43</td>
              </tr>
          </table></li>
        <p>Южный административный округ</p>
        <li><table>
            <colgroup>
              <col span="2" style="background:rgb(255, 255, 255)">
              <col style="background-color:rgb(255, 255, 255)">
            </colgroup>
            <tr>
              <th>Военный комиссариат</th>
              <th>Адрес</th>
              <th>Телефон дежурного</th>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Замоскворецкого района ЦАО г. Москвы
                Районы: Замоскворечье, Хамовники, Якиманка</td>
              <td>119034 г. Москва
                ул. Хилков пер., д. 2, стр. 2А</td>
              <td>(495) 695-11-89</td>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Красносельского района ЦАО г. Москвы
                Районы: Басманный, Красносельский, Таганский</td>
              <td>107045 г. Москва
                Даев пер. д. 13</td>
              <td>(495) 608-64-45</td>
            </tr>
            <tr>
                <td>Военный комиссариат (объединенный) Тверского района ЦАО г. Москвы
                Районы: Арбат, Мещанский, Пресненский, ТверскойВоенный комиссариат
                  (объединенный) Замоскворецкого района ЦАО г. Москвы
                  Районы: Замоскворечье, Хамовники, Якиманка</td>
                <td>123100 г. Москва
                    ул. Мантулинская,
                    д. 24</td>
                <td>(499) 256-00-43</td>
              </tr>
          </table></li>
        <p>Юго-Восточный административный округ</p>
        <li><table>
            <colgroup>
              <col span="2" style="background:rgb(255, 255, 255)">
              <col style="background-color:rgb(255, 255, 255)">
            </colgroup>
            <tr>
              <th>Военный комиссариат</th>
              <th>Адрес</th>
              <th>Телефон дежурного</th>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Замоскворецкого района ЦАО г. Москвы
                Районы: Замоскворечье, Хамовники, Якиманка</td>
              <td>119034 г. Москва
                ул. Хилков пер., д. 2, стр. 2А</td>
              <td>(495) 695-11-89</td>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Красносельского района ЦАО г. Москвы
                Районы: Басманный, Красносельский, Таганский</td>
              <td>107045 г. Москва
                Даев пер. д. 13</td>
              <td>(495) 608-64-45</td>
            </tr>
            <tr>
                <td>Военный комиссариат (объединенный) Тверского района ЦАО г. Москвы
                Районы: Арбат, Мещанский, Пресненский, ТверскойВоенный комиссариат
                  (объединенный) Замоскворецкого района ЦАО г. Москвы
                  Районы: Замоскворечье, Хамовники, Якиманка</td>
                <td>123100 г. Москва
                    ул. Мантулинская,
                    д. 24</td>
                <td>(499) 256-00-43</td>
              </tr>
          </table></li>
        <p>Юго-Западный административный округ</p>
        <li><table>
            <colgroup>
              <col span="2" style="background:rgb(255, 255, 255)">
              <col style="background-color:rgb(255, 255, 255)">
            </colgroup>
            <tr>
              <th>Военный комиссариат</th>
              <th>Адрес</th>
              <th>Телефон дежурного</th>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Замоскворецкого района ЦАО г. Москвы
                Районы: Замоскворечье, Хамовники, Якиманка</td>
              <td>119034 г. Москва
                ул. Хилков пер., д. 2, стр. 2А</td>
              <td>(495) 695-11-89</td>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Красносельского района ЦАО г. Москвы
                Районы: Басманный, Красносельский, Таганский</td>
              <td>107045 г. Москва
                Даев пер. д. 13</td>
              <td>(495) 608-64-45</td>
            </tr>
            <tr>
                <td>Военный комиссариат (объединенный) Тверского района ЦАО г. Москвы
                Районы: Арбат, Мещанский, Пресненский, ТверскойВоенный комиссариат
                  (объединенный) Замоскворецкого района ЦАО г. Москвы
                  Районы: Замоскворечье, Хамовники, Якиманка</td>
                <td>123100 г. Москва
                    ул. Мантулинская,
                    д. 24</td>
                <td>(499) 256-00-43</td>
              </tr>
          </table></li>
          <p>Восточный административный округ</p>
          <li><table>
              <colgroup>
                <col span="2" style="background:rgb(255, 255, 255)">
                <col style="background-color:rgb(255, 255, 255)">
              </colgroup>
              <tr>
                <th>Военный комиссариат</th>
                <th>Адрес</th>
                <th>Телефон дежурного</th>
              </tr>
              <tr>
                <td>Военный комиссариат
                  (объединенный) Замоскворецкого района ЦАО г. Москвы
                  Районы: Замоскворечье, Хамовники, Якиманка</td>
                <td>119034 г. Москва
                  ул. Хилков пер., д. 2, стр. 2А</td>
                <td>(495) 695-11-89</td>
              </tr>
              <tr>
                <td>Военный комиссариат
                  (объединенный) Красносельского района ЦАО г. Москвы
                  Районы: Басманный, Красносельский, Таганский</td>
                <td>107045 г. Москва
                  Даев пер. д. 13</td>
                <td>(495) 608-64-45</td>
              </tr>
              <tr>
                  <td>Военный комиссариат (объединенный) Тверского района ЦАО г. Москвы
                  Районы: Арбат, Мещанский, Пресненский, ТверскойВоенный комиссариат
                    (объединенный) Замоскворецкого района ЦАО г. Москвы
                    Районы: Замоскворечье, Хамовники, Якиманка</td>
                  <td>123100 г. Москва
                      ул. Мантулинская,
                      д. 24</td>
                  <td>(499) 256-00-43</td>
                </tr>
            </table></li>
            <p>Западный административный округ</p>
            <li><table>
                <colgroup>
                  <col span="2" style="background:rgb(255, 255, 255)">
                  <col style="background-color:rgb(255, 255, 255)">
                </colgroup>
                <tr>
                  <th>Военный комиссариат</th>
                  <th>Адрес</th>
                  <th>Телефон дежурного</th>
                </tr>
                <tr>
                  <td>Военный комиссариат
                    (объединенный) Замоскворецкого района ЦАО г. Москвы
                    Районы: Замоскворечье, Хамовники, Якиманка</td>
                  <td>119034 г. Москва
                    ул. Хилков пер., д. 2, стр. 2А</td>
                  <td>(495) 695-11-89</td>
                </tr>
                <tr>
                  <td>Военный комиссариат
                    (объединенный) Красносельского района ЦАО г. Москвы
                    Районы: Басманный, Красносельский, Таганский</td>
                  <td>107045 г. Москва
                    Даев пер. д. 13</td>
                  <td>(495) 608-64-45</td>
                </tr>
                <tr>
                    <td>Военный комиссариат (объединенный) Тверского района ЦАО г. Москвы
                    Районы: Арбат, Мещанский, Пресненский, ТверскойВоенный комиссариат
                      (объединенный) Замоскворецкого района ЦАО г. Москвы
                      Районы: Замоскворечье, Хамовники, Якиманка</td>
                    <td>123100 г. Москва
                        ул. Мантулинская,
                        д. 24</td>
                    <td>(499) 256-00-43</td>
                  </tr>
              </table></li>
              <p>Зеленоградский административный округ</p>
        <li><table>
            <colgroup>
              <col span="2" style="background:rgb(255, 255, 255)">
              <col style="background-color:rgb(255, 255, 255)">
            </colgroup>
            <tr>
              <th>Военный комиссариат</th>
              <th>Адрес</th>
              <th>Телефон дежурного</th>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Замоскворецкого района ЦАО г. Москвы
                Районы: Замоскворечье, Хамовники, Якиманка</td>
              <td>119034 г. Москва
                ул. Хилков пер., д. 2, стр. 2А</td>
              <td>(495) 695-11-89</td>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Красносельского района ЦАО г. Москвы
                Районы: Басманный, Красносельский, Таганский</td>
              <td>107045 г. Москва
                Даев пер. д. 13</td>
              <td>(495) 608-64-45</td>
            </tr>
            <tr>
                <td>Военный комиссариат (объединенный) Тверского района ЦАО г. Москвы
                Районы: Арбат, Мещанский, Пресненский, ТверскойВоенный комиссариат
                  (объединенный) Замоскворецкого района ЦАО г. Москвы
                  Районы: Замоскворечье, Хамовники, Якиманка</td>
                <td>123100 г. Москва
                    ул. Мантулинская,
                    д. 24</td>
                <td>(499) 256-00-43</td>
              </tr>
          </table></li>
          <p>Троицкий и Новомосковский административный округ</p>
        <li><table>
            <colgroup>
              <col span="2" style="background:rgb(255, 255, 255)">
              <col style="background-color:rgb(255, 255, 255)">
            </colgroup>
            <tr>
              <th>Военный комиссариат</th>
              <th>Адрес</th>
              <th>Телефон дежурного</th>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Замоскворецкого района ЦАО г. Москвы
                Районы: Замоскворечье, Хамовники, Якиманка</td>
              <td>119034 г. Москва
                ул. Хилков пер., д. 2, стр. 2А</td>
              <td>(495) 695-11-89</td>
            </tr>
            <tr>
              <td>Военный комиссариат
                (объединенный) Красносельского района ЦАО г. Москвы
                Районы: Басманный, Красносельский, Таганский</td>
              <td>107045 г. Москва
                Даев пер. д. 13</td>
              <td>(495) 608-64-45</td>
            </tr>
            <tr>
                <td>Военный комиссариат (объединенный) Тверского района ЦАО г. Москвы
                Районы: Арбат, Мещанский, Пресненский, ТверскойВоенный комиссариат
                  (объединенный) Замоскворецкого района ЦАО г. Москвы
                  Районы: Замоскворечье, Хамовники, Якиманка</td>
                <td>123100 г. Москва
                    ул. Мантулинская,
                    д. 24</td>
                <td>(499) 256-00-43</td>
              </tr>
          </table></li>
    </ul>
</div>