<p class="text-gray-300">
    <div class="flex flex-col gap-3">
       <h2 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-7xl text-green-200 w-full  font-bold py-12">Памятки.</h2>
       <ul class="text-gray-300">
           <table>
               <colgroup>
                 <col span="2" style="background:#152926a3">
                 <col style="background-color:#152926a3">
               </colgroup>
               <tr>
                 <th>Название документа</th>
                 <th>ссылка</th>
               </tr>
               <tr>
                 <td>Помощь при острых стрессовых реакциях</td>
                 <td><a href="https://drive.google.com/file/d/19sLeCXK5tiD5XmMeFBWpeP05GvofmARp/view?usp=share_link">Ссылка на документ</a></td>
               </tr>
               <tr>
                 <td>СОЦИАЛЬНЫЙ СПРАВОЧНИК
                    участника специальной военной операции
                 </td>
                 
                 <td><a href="https://drive.google.com/file/d/1sZ5Dw080alJVnhxrevVfXsRSQ4X8Ppgs/view?usp=share_link">Ссылка на документ</a></td>
               </tr>
               <tr>
                   <td>Электроника на СВО</td>  
                   <td><a href="https://drive.google.com/file/d/1ZZhPv55LDkHXQO8htRpMayU4p_JESNLO/view?usp=share_link">Ссылка на документ</a></td>
                 </tr>
                 <tr>
                   <td>Список одежды на осень и зиму</td>  
                   <td><a href="https://drive.google.com/file/d/15u_qhED3OqWrnOVrGX67k7yYMqsTJwxL/view?usp=share_link">Ссылка на документ</a></td>
                 </tr>
                 <tr>
                   <td>Памятка
                    по угрозам информационной безопасности
                    при использовании мобильного телефона</td>  
                   <td><a href="https://drive.google.com/file/d/19y4tgShs8c8kdeS9bC3gJlo2MsvK3QJ9/view?usp=share_link">Ссылка на документ</a></td>
                 </tr>
                 <tr>
                    <td>Памятка участнику СВО по противодействию 
                        техническим средствам разведки</td>  
                    <td><a href="https://drive.google.com/file/d/1OHsfG1fNlrA4TXSgY3fhsKcwWU_sBPFe/view?usp=share_link">Ссылка на документ</a></td>
                  </tr>
                  <tr>
                    <td>БПЛА теория и практика</td>  
                    <td><a href="https://drive.google.com/file/d/1XZqHBOZvMYNSiDWx6O23VI6n666xqtrq/view?usp=share_link">Ссылка на документ</a></td>
                  </tr>
                  <tr>
                    <td>Памятка
                     по угрозам информационной безопасности
                     при использовании мобильного телефона"</td>  
                    <td><a href="https://drive.google.com/file/d/19y4tgShs8c8kdeS9bC3gJlo2MsvK3QJ9/view?usp=share_link">Ссылка на документ</a></td>
                  </tr>
                  <tr>
                    <td>Памятка по использованию бинтов</td>  
                    <td><a href="https://drive.google.com/file/d/13a7xo1kDyc0keYd6D-fKOcgeHpbFcy5z/view?usp=share_link">Ссылка на документ</a></td>
                  </tr>
                  <tr>
                    <td> Сpeдcтвa индивидуaльнoй бpoнeвoй зaщиты</td>  
                    <td><a href="https://drive.google.com/file/d/1U1fxObAkx_JDKlwVpa6q7QVBzpTmB-HV/view?usp=share_link">Ссылка на документ</a></td>
                  </tr>
             </table>
           </ul>

       
	

