<title>Home</title>
<div class="flex flex-col gap-3">
    <h2 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-7xl text-green-400 w-full text-left font-bold py-12">Добро пожаловать!</h2>
    <p class="text-gray-200">
        Этот сайт создан для помощь нуждающимся людям в поиске информации по тематике "Добровольческая служба".<br> Тут будет находиться информация о адресах и телефонах военкоматов, о государственных документах по этой теме.<br> Так же тут будет находиться некоторая вспомогательная информация и инструкция для подачи заявки на добровольную службу.<br> <p class="text-green-200">Вся информация на этом сайте операется на официальные источники.
    </p>
    <ul class="text-gray-200">
        <li>1)Это главная страница - на ней находится краткая информация о сайте и о других его страницах.</li>
        <li>2)На странице "Адреса" находятся все нужные адреса военкоматов Москвы и их телефоны. Вся информация на этой странице представленна в виде таблиц и разбита на административные округа для удобства восприятия.</li>
        <li>3)На странице "Запись" находится вся информация по поводу добровольческой службы. Там же описано как и где подать заявку.</li>
        <li>4)На странице "Документация" будет находиться вся документация по этой теме.</li>
        <li>5)На странице "Доп.материалы" находятся дополнительные полезные материалы.</li>
    </ul>
</div>